@model LNegocio.Factura

@{
    ViewBag.Title = "Venta Producto";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";

}

<div class="container-modulo-venta py-2">
    <!-- TABS DE LA APLICACION -->
    <div class="align-items-start container">

        <!-- MENU DE TABS -->
        <div class="col col-lg-2 nav nav-pills me-3" aria-orientation="vertical">

            <button class="nav-link active" data-bs-toggle="pill" href="#productos" type="button" role="tab" aria-selected="false" id="botonProducto">
                Carrito
            </button>

            <button class="nav-link" data-bs-toggle="pill" href="#formalizar" type="button" role="tab" aria-selected="false" id="botonPago">
                Pago
            </button>

        </div>

        <div class="tab-content">

            @using (Html.BeginForm("Guardar_Compra", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <!-- TAB 1 -->
                <div class="col col-lg-12 tab-pane fade show active" id="productos" role="tabpanel">
                    <div class="container-info-tabs">
                        <H3 class="titulos">Productos seleccionados</H3>
                        <hr class="my-4">
                        <div id="totalCarrito">
                             <H4>Total de compra: <b class="text-total">  ₡0 @Html.DisplayFor(model => model.MontoTot)</b></H4>
                        </div>
                       
                        <br>
                        <div class="table-responsive">
                            <table class="table align-middle table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th class="text-center" scope="col">NOMBRE</th>
                                        <th class="text-center" scope="col">PRECIO</th>
                                        <th class="text-center" scope="col">CANTIDAD</th>
                                        <th class="text-center" scope="col">TOTAL</th>
                                        <th class="text-center" scope="col">AGREGAR</th>
                                        <th class="text-center" scope="col">ELIMINAR</th>
                                    </tr>
                                </thead>
                                <tbody id="productosCompra">

                                    @if ((List<LNegocio.Articulo>)ViewBag.listaArticulos == null)
                                    {
                                        <tr class="table-warning">
                                            <td colspan="7"><div class="text-center">La lista regreso como NULL</div> </td>
                                        </tr>
                                    }
                                    else
                                      if (((List<LNegocio.Articulo>)ViewBag.listaArticulos).Count() < 0)
                                    {
                                        <tr class="table-warning">
                                            <td colspan="7"><div class="text-center">(Count menor 0) Algo raro pasa</div> </td>
                                        </tr>
                                    }
                                    else
                                    if (((List<LNegocio.Articulo>)ViewBag.listaArticulos).Count() == 0)
                                    {
                                        <tr class="table-warning">
                                            <td colspan="7"><div class="text-center">(Count igual 0)No hay productos disponibles</div> </td>
                                        </tr>
                                    }
                                   
                                  
                                    else
                                    {
                                        foreach (var item in (List<LNegocio.Articulo>)ViewBag.listaArticulos)
                                        {
                                            @Html.HiddenFor(modelItem => item);
                                            @Html.HiddenFor(modelItem => item.ID);
                                            <tr>
                                                <th scope="row">
                                                @Html.DisplayFor(modelItem => item.ID)
                                                </th>
                                                <td class="text-center">
                                                    @Html.DisplayFor(modelItem => item.Nombre)
                                                </td>
                                                <td class="text-center">
                                                    ₡@Html.DisplayFor(modelItem => item.Costo)
                                                </td>
                                                <td class="text-center">
                                                    #@Html.DisplayFor(modelItem => item.Cantidad)
                                                </td>
                                                <td class="text-center">
                                                    ₡@Html.DisplayFor(modelItem => item.Total)
                                                </td>
                                                <td class="text-center">
                                                    @*@Ajax.ActionLink("Agregar", "AgregarProducto", "Home",
                                                        new { id = item.ID },
                                                        new AjaxOptions
                                                             {
                                                            UpdateTargetId = "productosCompra",
                                                            InsertionMode = InsertionMode.Replace,
                                                        }, new { @class = "btn btn-success" })*@

                                                    <button onclick="Agregar(@item.ID)" type="button"
                                                        class="btn btn-success">
                                                    Agregar
                                                </button>

                                                </td>
                                                <td class="text-center">
                                                    <button onclick="Eliminar(@item.ID)" type="button"
                                                            class="btn btn-danger">Eliminar</button>

                                                 

                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <!-- TAB 2 -->
                <div class="col col-lg-12 tab-pane fade" id="formalizar" role="tabpanel">
                    <div class="container-info-tabs">
                        <H3 class="titulos">Detalle de la compra</H3>
                        <hr class="my-4">
                        <div class="contenido-tercer-tab">

                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <label for="nombreCliente">Nombre Cliente</label>
                                    @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", 
                                   type = "text", id = "nombreCliente", placeholder = "Nombre de cliente" } })
                                    @*input type="text" class="form-control" id="nombreCliente" placeholder="Nombre de cliente">*@
                                </div>
                            </div>
                            <br>
                            <div class="form-row">
                                <label>Favor seleccionar un metodo de pago:</label>
                                <div class="form-group col-md-6">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioDineros"
                                               id="radioEfectivo" value="EFECTIVO">
                                        <label class="form-check-label" for="radio1">EFECTIVO</label>
                                    </div>

                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="radioDineros"
                                               id="radioTarjeta" value="TARJETA">
                                        <label class="form-check-label" for="radio2">TARJETA</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.EditorFor(model => model.Tarjeta.numTarjeta, new
                                        {
                                       htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                type = "number",
                                                id = "inputTarjeta",
                                           placeholder = "Ingresar numero de tarjeta"
                                            }
                                        })
                                    </div>
                                    <div class="form-check form-check-inline">
                                        @Html.EditorFor(model => model.MontoEfectivo, new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                type = "number",
                                                id = "inputEfectivo",
                                                placeholder = "Ingresar monto con el cual va pagar"
                                            }
                                        })
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="form-row">
                                
                                <div id="descuento">

                                </div>
                              
                            </div>
                            <br>
                            <br>
                           <div id="desglose">
                               <h5>
                                  Subtotal: <b class="text-subtotal">
                                  ₡0 @Html.DisplayFor(model => model.MontoSub)
                              </b>
                          </h5>
                        <h5>
                            Descuento: <b class="text-descuento">
                                -₡0 @Html.DisplayFor(model => model.MontoDesc)
                            </b>
                        </h5>
                        <h5>
                            Impuesto 13%: <b class="text-impuesto">
                                ₡0 @Html.DisplayFor(model => model.MontoImp)
                            </b>
                        </h5>
                        <h5>
                            Total: <b class="text-total">
                                ₡0 @Html.DisplayFor(model => model.MontoTot)
                            </b>
                        </h5>
                        <br>
                           </div>
                            
                        </div>
                        <div class="col text-center">
                            <button type="submit" class="btn btn-warning boton-centrado">Finalizar compra</button>
                        </div>

                    </div>
                </div>

            }
        </div>
    </div>
</div>






@section Scripts {
     @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryajax")
    <script type="text/javascript">


        function AplicarDescuento() {

            var descuento = document.getElementById('Descuento').value
            console.log(descuento)
             $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Home/AplicarDescuento",
                data: {  "descuento": descuento },
                success: function () {
                   
                   
                    ActualizarDesglose();
                    ActualizarTotalCarrito();
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
        }
        function ActualizarDescuento() {





            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Home/ActualizarDescuento",

                success: function (data) {
                    $("#descuento").html('');
                    $("#descuento").html(data);

                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });

        }
        function ActualizarTotalCarrito() {

           
            

          
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Home/ActualizarTotalCarrito",
               
                success: function (data) {
                    $("#totalCarrito").html('');
                    $("#totalCarrito").html(data);
                    
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
           
        }
        function ActualizarDesglose() {

           
            

          
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Home/ActualizarDesglose",
               
                success: function (data) {
                    $("#desglose").html('');
                    $("#desglose").html(data);
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
           
        }
        function Agregar(id) {

           
            

           
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Home/AgregarProducto",
                data: {  "id": id },
                success: function (data) {
                   
                    $("#productosCompra").html('');
                    $("#productosCompra").html(data);
                    ActualizarDesglose();
                    ActualizarDescuento();
                    ActualizarTotalCarrito();
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
           
        }
           function Eliminar(id) {

           
            

         
            $.ajax({
                type: "GET",
                dataType: 'text',
                url: "/Home/EliminarProducto",
                data: {  "id": id },
                success: function (data) {
                   
                    $("#productosCompra").html('');
                    $("#productosCompra").html(data);
                    ActualizarDescuento();
                    ActualizarDesglose();
                     ActualizarTotalCarrito();
                }, error: function (xhr, status, error) {
                    console.log("Error: " + error + ", No Error: " + xhr.status);
                },
            });
         
        }

        document.getElementById("botonProducto").addEventListener("click", mostrar);
        document.getElementById("botonPago").addEventListener("click", ocultar);
        document.getElementById("formalizar").style.display = "none"

        function cargaInicial(){
            document.getElementById("formalizar").style.display = "none"
        }

        function mostrar() {
            document.getElementById("productos").style.display = "unset"
            document.getElementById("formalizar").style.display = "none"
        }
        function ocultar() {
            document.getElementById("productos").style.display = "none"
            document.getElementById("formalizar").style.display = "unset"
        }
        document.getElementById("radioEfectivo").addEventListener("click", efectivo);
        document.getElementById("radioTarjeta").addEventListener("click", tarjeta);
        document.getElementById("inputTarjeta").style.display = "none"
        document.getElementById("inputEfectivo").style.display = "none"

        function efectivo() {
            document.getElementById("inputTarjeta").style.display = "none"
            document.getElementById("inputEfectivo").style.display = "unset"
        }
        function tarjeta() {
            document.getElementById("inputTarjeta").style.display = "unset"
            document.getElementById("inputEfectivo").style.display = "none"
        }
    </script>

}
